html {
    background-color:whitesmoke;
}
body{
    width: 600px;
    margin: 0 auto;
    background-color:rgb(134, 159, 151);
    padding: 0 20px 20px 20px;
    border: 5px solid black;
}
h1 {
    margin:0;
    padding: 20px 0;
    color: black;
    text-shadow:0;
}
p,h1{
    font-size: 16px;
  /* line-height 后面可以跟不同的参数，如果是数字，就是当前字体大小乘上数字 */
  line-height: 2;
  letter-spacing: 1px;
}
img {
    display:block;
    margin:0 auto;
    width:10cm;
    height:10cm;
}